.overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 색 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소들보다 위에 표시 */
  }
  
  .modal {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    max-width: 500px; /* 모달의 최대 너비 */
    width: 100%;
    max-height: 80vh; /* 모달의 최대 높이 */
    overflow-y: auto; /* 내용이 너무 많을 경우 스크롤 가능하도록 */
  }
  